{{ template "chart.header" . }}

{{ template "chart.deprecationWarning" . }}

{{ template "chart.description" . }}

{{ template "section.badges" . }}

{{ template "section.sources" . }}

## Requirements
{{ template "requirements" . }}

## Usage
{{ template "usage" . }}

{{ template "chart.valuesHeader" . }}

{{ template "chart.valuesTable" . }}

{{ template "chart.maintainersSection" . }}

{{ template "common.footer" . }}